main {
  background-color: rgb(255, 255, 255);
}
.card img {
  background-color: rgb(82, 82, 82);
}

.card:hover {
  border: 3px solid #d19300;
  transform: scale(1.15);
  transition: 1s;
  z-index: 1000;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar {
  background-color: #f96f2f;
}