@import url('https://fonts.cdnfonts.com/css/counter-strike');


main {
  background-color: #fff;
}

#back{
  background-color: #1f1f1f;
  box-shadow: 15px 0 10px #00000091;
}

button:hover {
  transform: scale(1.15);
  transition: 0.8s;
  z-index: 1000;
}

.card img {
    background-image: url(../img/fundo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.card {
  transition: 0.5s;
}

.card:hover {
  border: 3px solid #d19300;
  transform: scale(1.10);
  transition: 0.8s;
  z-index: 1000;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar {
  background-color: #f96f2f;
}

.fs-1 {
  color: white;
}

.cs {
  font-family: counter-strike;
}

.card-text, .card-title {
  color: white;
}

.img-fluid {
  transition: 0.5s;
  filter: drop-shadow(-5px 5px 5px #0000006b);
}

.img-fluid:hover {
  transform: scale(1.10);
  transition: 0.8s;
  filter: drop-shadow(-10px 7px 7px #0000006b);

}

